@import '@angular/material/prebuilt-themes/indigo-pink.css';

#footer-brasil {
    background: #004D6E;
    padding: 1em 0px;
    max-width: 100%;
 }

 .footer {
     background: #004D6E;
     padding: 1em 0px;
     max-width: 100%;
 }

 html{
	height: 100%;
    font-family: Roboto, sans-serif;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
body{
    height: 100%;
    font-family: Roboto, sans-serif;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
